* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #efefef;
}
:root{
    --bc1 :linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --bc2 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bc3 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bc4 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --bc5 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --white :#fff;
    --hover1 : #ff7d7d;
    --hover2 : #FFDAB9;
    --hover3 : #d11f0c;
  }

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #07075b; */
    background: var(--bc1);
    padding: 15px 10%;
    /* box-shadow: 0px 1px 10px #999; */
    transition: background 0.9s;
}
.nav_positive {
    background: rgb(185 255 232);
}
.nav_negative {
    background: rgb(255 203 203);
}

.logo {
    width: 160px;
    margin-right: 45px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* background: white; */
    /* text-decoration: underline; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.logo:hover {
    color:#a19090 ;
    /* transition: all 0.3s ease; */
}
.nav_left,
.nav_right {
    display: flex;
    align-items: center;
}

.nav_left ul li {
    list-style: none;
    display: inline-block;
    width: 20px;
    margin: 0 15px;
    list-style-position: inside;
    cursor: pointer;
    /* background: white; */
}
/* .nav_left ul li i{
    color: white;
} */

.nav_left ul li i:hover {
    font-size: xx-large;
    /* color: rgb(74, 245, 171); */
    /* border-bottom: 2px solid rgb(81, 110, 216); */
}

.nav_left i {
    font-size: x-large;
    transition: font-size 0.4s, border-bottom 0.4s;
    color: white
}
.taken {
    color: red;
}
.user_icon img {
    height: 120%;
    width: 120%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    /* border: 4px solid rgb(255, 255, 255); */
    box-shadow: 0 2px 4px grey;
    transition: 0.3s ease;
}

.user_icon {
    /* position: relative; */
    margin: 0px 0px 10px 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* background: #ffffff; */
    padding: 5px;
    transition: 0.3s ease;
}

.user_icon:hover {
   transform: scale(1.2);
}

.serach_box {
    background-color: white;
    width: 300px;
    height: 37px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.serach_box img {
    width: 22px;
}

.serach_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 0.90rem;
    /* text-align: center; */
}

/* advertise */
.advertise {
    display: flex;
    margin: 30px 10%; /* contracts */
    height: 35vh;
    /* background-color: #000000; */
    /* background-image: url(-4-ans_frontend_assets.webp); */
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    /* box-shadow: 0px 1px 10px rgb(0, 0, 0); */
}
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-radius: 35px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 5px;
    box-shadow: 0 2px 4px grey inset;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: white;
}
.swiper .swiper-pagination-bullet-active {
    background-color: white;
}

.create_post {
    background-color: var(--hover3);
    margin: 0px 0px 0px 10px;
    border-radius: 35px;
    width: 100px;
    padding: 7px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 4px grey;
    transition: 0.3s ease;
}
.create_post:hover {
    background-color: var(--hover2);
    /* transform: scale(1.05); */
}

/* ------profile popup----- */
.menu{
    position: absolute;
    top: 72px;
    right: 9%;
    padding: 10px 20px;
    background:#fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    /* border:2px solid black; */
    font-family: Poppins;
    visibility: hidden;
    opacity:0;
    box-shadow: -1px 0px 15px 4px rgb(105 105 105 / 54%);

}
.menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 15px 0px 10px 0px;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
    

}
 .menu::before{
    content:'';
    position:absolute;
    top: -8px;
    right: 28px;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
    /* border-top: 2px solid black;
    border-left: 2px solid black; */
}
.menu ul{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    /* display: flex;  */
    align-items: center;
    justify-content: center;

}
 .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;


}
 .menu ul li:hover img{
     opacity: 1;

}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
 .menu ul li:hover a{
     /* color:#ff5d94; */
     color:var(--hover3);

}
 .menu h3 #nav_user_category{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;

    
}
.menu.active{
    visibility: visible;
    opacity: 1;
}
.menu li {
    margin-bottom: 3%;
}
.menu_user_icon {
    display: flex;
    justify-content: center;
}
.menu_user_icon img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    /* border: 4px solid rgb(74, 245, 171); */
    display: block;
    box-shadow: 0 2px 4px grey;
}
::-webkit-search-cancel-button {
    cursor: pointer;
}
