:root{
    --bc1 :linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --bc2 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bc3 :linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    --bc4 :linear-gradient(120deg, #ebedee 100%, #fdfbfb 0%);
    --bc5 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --bc6 :linear-gradient(114.9deg, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --white :#fff;
    --hover1 : #ff7d7d;
    --hover2 : #FFDAB9;
    --hover3 : #d11f0c;
  }
.noti{
    position: absolute;
    top: 72px;
    right: 60%;
    padding: 10px;
    background:#fff;
    width: 20%;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    /* border:2px solid black; */
    font-family: Poppins;
    visibility: hidden;
    opacity:0;
    height: 500%;
    overflow-y: scroll;
    box-shadow: -1px 0px 15px 4px rgb(105 105 105 / 54%);
}
.noti.active{
    visibility: visible;
    opacity: 1;
}
.noti h3{
    color: rgb(0, 0, 0);
    text-align: center;
}
.noti_message {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffe8d4;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
.noti_message.unseen {
    background-color: rgb(86, 244, 176);
}
.noti::before{
    content:'';
    position:absolute;
    top: -13px;
    right: 85%;
    width: 16px;
    height: 16px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.blur_active {
    filter: blur(2px);
}
.taken {
    color: #d11f0c;
}
