.post_details {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left:100%;
    z-index: 200;
    display: flex;
    background-color: #ffffff00;
    transition: left 0.5s, background-color 1s;
}
.details_overlay {
    /* background-color: rgba(0, 0, 0, 0.356); */
    width: 25%;
}
.details_content {
    background-color: rgb(255, 255, 255);
    width: 75%;
    /* height: 100vh; */
    padding: 2% 2% 2% 4%;
    border-radius: 20px 0px 0px 20px;
    overflow-x:hidden;
    overflow-y:auto;
    animation-direction: reverse;
    transition: background-color 0.5s;
}
.open_details {
    left: 0%;
    background-color: rgba(0, 0, 0, 0.164);
}
.details_body {
    margin-top: 1%;
    min-height: 100%;
    border: 2px solid rgb(0, 255, 170);
    border-radius: 10px;
    display: flex;
}

/* left part */
.details_body_left {
    width: 100%;
    min-height: 100vh;
}
.details_body_left_head, .details_body_left_body{
    border-bottom: 2px solid rgb(0, 255, 170);
    padding: 2%;
}
.details_body_left_head {
    display: flex;
    justify-content: space-between;
}
.basic_info {
    width: 50%;
}
.details_body_left_head .title {
    font-size: 2rem;
    word-break: break-all; 
}
.details_body_left_head .budget_time, .details_body_left_head .tag, .details_body_left_head .details_location {
    display: flex;
    font-size: 1rem;
}
.details_body_left_head .budget_time p {
    margin-top: 1%;
    margin-right: 3%;
    color: rgb(118, 118, 118);
}
.details_location p, .details_location i {
    color: #949494;
    margin: 1% 1% 0% 0%;
    font-weight: bold;
}
.details_body_left_head .tag ul{
    margin-top: 1%;
    list-style: none;
    display: flex;
}
.details_body_left_head .tag li {
    border: 1px solid rgb(20, 224, 173);
    border-radius: 10px;
    margin-right: 10%;
    background-color: aquamarine;
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #404040;
}
.details_content span i {
    font-size: x-large;
    color: rgb(0, 255, 170);
    cursor: pointer;
}
.details_body_left_body p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.comment {
    padding: 2%;
}
.comment #comment, .details_body_left_body #details {
    color: #949494;
    font-size: 1rem;
    margin-bottom: 1%;
}
/* right part */
.sumbit_bid, .best_bid {
    width: 25%;
}
@keyframes example {
    0%   {border-color:rgb(37, 168, 250); }
  50%  {border-color:rgb(61, 253, 208); }
  100% {border-color:rgb(37, 168, 250);; }
}
.best_bid #best_bid, .sumbit_bid #sumbit_bid{
    text-align: center;
    margin: 5%;
    padding: 10%;
    border: 2px solid rgb(173, 236, 221);
    border-radius: 10px;
    font-size: 1rem;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.best_bid #best_bid {
    /* display: flex;  */
    justify-content:center;
}
.best_bid #best_bid #best_bidder_name {
    cursor: pointer;
}
.best_bid #best_bid #best_bidder_name:hover {
    color: rgb(0, 255, 170);
}
.best_bid #title, .sumbit_bid #bid_sumbit{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    position: relative;
    top: -1.5rem;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
}
.sumbit_bid #bid_sumbit {
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    border: none;
    /* padding: 2px; */
}
.sumbit_bid #bid_sumbit:hover {
    color: rgb(61, 253, 208);
}
.sumbit_bid input {
    height: 2.2rem;
    font-size: 1rem;
    overflow: scroll;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
}
/* scroll */
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(111, 241, 189);
    border-radius: 10px;
    border: 0.1rem solid transparent;
    background-clip: content-box;
}