
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

:root{
    --bc1 :linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --bc2 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bc3 :linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    --bc4 :linear-gradient(120deg, #ebedee 100%, #fdfbfb 0%);
    --bc5 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --bc6 :linear-gradient(114.9deg, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --white :#fff;
    --hover1 : #ff7d7d;
    --hover2 : #FFDAB9;
    --hover3 : #d11f0c;
  }
.post_popup {
    width: 100%;
    display: flex;
    justify-content: center;
    
    z-index: 200;
    position: fixed;
    top: 0;
    height: 112%;
}
.post_invisible {
    visibility: hidden;
}
.post-box {
    width: 45%;
    height: 80%;
    margin: 30px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #fff; */
    /* background: var(--bc3); */
    background-color: #fdfbfb;
    box-shadow: 0 4px 4px grey;
    overflow-y: scroll;
}
#post_popup_close {
    float: right;
    border-radius: 10%;
}
.post-box h2 {
    text-align: center;
}

.post-box form {
    display: flex;
    flex-direction: column;
}

.post-box label {
    margin-top: 5px;
}

.post-box input, .post-box textarea, .post-box select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-box #jobDeadline_date, .post-box #jobDeadline_time {
    width: 45.5%;
}

.post-box button {
    padding: 5px 15px;
    /* background-color: #4c81af; */
    /* height: 30px; */
    background: var(--hover3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: 0.2s ease; */
}

.post-box button:hover {
    /* background-color: var(--hover2); */
    transform: scale(1.02);
}
