* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #efefef;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 3%;
    box-shadow: 0px 1px 10px #999;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav_left,
.nav_right {
    display: flex;
    align-items: center;
}

.nav_left ul li {
    list-style: none;
    display: inline-block;
    width: 28px;
    margin: 0 15px;
    list-style-position: inside;
    cursor: pointer;
}

.nav_left ul li i:hover {
    font-size: xx-large;
    /* color: rgb(74, 245, 171); */
    /* border-bottom: 2px solid rgb(81, 110, 216); */
}

.nav_left i {
    font-size: x-large;
    color: #1a1d86;
    transition: font-size 0.4s, border-bottom 0.4s;
}

.user_icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid rgb(74, 245, 171);
}

.user_icon {
    /* position: relative; */
    margin: 0px 0px 10px 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    padding: 0px;
}

.serach_box {
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.serach_box img {
    width: 20px;
}

.serach_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.login-menu-wrap {
    position: absolute;
    top: 80%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.login-menu-wrap.open-menu {
    max-height: 400px;
}

.login-menu {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.584);
}

.profile,
.logout {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(26, 29, 134);;
    margin: 12px 0;
}

.profile p,
.logout p {
    width: 100%;
}

.profile:hover p,
.logout:hover p {
    font-weight: 600px;
    color: rgb(74, 245, 171);
}

.profile span,
.logout span {
    font-size: 22px;
    transition: transform 0.5s;
}

.profile:hover span,
.logout:hover span {
    color: rgb(74, 245, 171);
    transform: translate(5px);
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(81, 216, 151);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(26, 29, 134);;
}

.login-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #646363;
    margin: 15px 0 10px;
}
/* advertise */
.advertise {
    display: flex;
    margin: 5px 2%;
    height: 40vh;
    background-color: #000000;
    /* background-image: url(-4-ans_frontend_assets.webp); */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* .advertise-content {
    margin-left: 200px;
    padding: 50px;
    color: #efefef;
} */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: rgb(74, 245, 171);
}
.swiper .swiper-pagination-bullet-active {
    background-color: rgb(74, 245, 171);
}
/* .advertise-content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* .advertise img {
    flex-basis: 10%;
    margin-right: 10%;
    object-fit: cover;
} */

.create_post {
    background-color: rgb(74, 245, 171);
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.create_post:hover {
    background-color: rgb(17, 249, 149);
}

/* ------profile popup----- */
.menu{
    position: absolute;
    top: 72px;
    right: 22px;
    padding: 10px 20px;
    background:#fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    border:2px solid black;
    font-family: Poppins;
    visibility: hidden;
    opacity:0;

}
.menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
    

}
 .menu::before{
    content:'';
    position:absolute;
    top: -13px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.menu ul{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    /* display: flex;  */
    align-items: center;
    justify-content: center;

}
 .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;


}
 .menu ul li:hover img{
     opacity: 1;

}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
 .menu ul li:hover a{
     color:#ff5d94;

}
 .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;

    
}
.menu.active{
    visibility: visible;
    opacity: 1;
}
