@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

.profile-page {
    overflow-x: hidden;
}

:root {
    --bc1: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --bc2: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --bc3: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
    --bc4: linear-gradient(120deg, #ebedee 100%, #fdfbfb 0%);
    --bc5: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --bc6: linear-gradient(114.9deg, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    --white: #fff;
    --hover1: #ff7d7d;
    --hover2: #FFDAB9;
    --hover3: #d11f0c;
}

/* body {
    background-color: #efefef;
} */

.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.cover-img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 14px;
    object-fit: cover;
}

.profile-details {
    background: white;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#verified_img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding-top: 10px;
}


.pd-row {
    display: flex;
    /* align-items: flex-start; */
}

.pd-img {
    width: 110px;
    margin-right: 20px;
    border-radius: 6px;
    height: 110px;
    object-fit: cover;
}

.user_name {
    font-size: 25px;
    font-weight: 600;

}

.work_title {
    font-size: 16px;
    color: #0e3b75;
    font-weight: bold;
    margin-left: 5px;
}

.rating {
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
    display: flex;
    margin-top: 5px;
    margin-left: 4px;
}

#user_rating {
    margin-left: 10px;
}

.pd-right button {
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.pd-right button img {
    height: 15px;
    margin-right: 10px;
}

.pd-right button:first-child {
    background-color: #e4e6eb;
    color: black;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

}

.info-col {
    flex-basis: 33%;

}

.post-col {
    flex-basis: 65%;

}

.profile-intro {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro h3 {
    font-weight: 600;
    padding-top: 10px;

}

.profile-intro p {
    text-align: center;
    margin: 10px;
    font-size: 15px;

}

.profile-intro hr {
    border: 0;
    height: 1px;
    background: #180b3b;
    margin: 24px 0;
}

.profile-intro img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.img1 {
    width: 16px;
}

.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;

}

.main_content h3 {
    padding-top: 15px;
    padding-left: 13px;
    color: #1b2028;
}

/* Edit Profile Modal Styles */
.profile-section {
    margin: 20px auto;
    background-color: #fdfbfb;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 0px #212121;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 600px;
    height: 68%;
    /* visibility: hidden; */
    overflow-x: auto;
    overflow-y: auto;
}

.profile-section h2 {
    text-align: center;
    color: #000000;
}

.profile-section .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    object-fit: cover;
    margin-left: 35%;
    margin-top: 10px;
}

.cover-picture {
    width: 100%;
    padding-top: 10px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    margin-right: 20px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="password"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    display: block;
    margin-top: 5px;
}

.btn-save {
    padding: 10px 20px;
    background-color: rgb(223, 4, 4);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 38%;
}

.btn-save:hover {
    background-color: #1b7753;
}

.edit_pp {
    position: relative;
}

#myFile, #mycoverFile {
    display: none;
}

#choose_pp {
    padding: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(68, 68, 68, 0.514);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#choose_cp {
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(68, 68, 68, 0.514);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.pp__submit, .cp__submit {
    display: none;
}

/* Reviews Modal Styles */
.rev_container {
    font-family: 'Poppins', Arial, sans-serif;
    width: 600px;
    height: 700px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    box-shadow: 1px 1px 10px 0px #212121;
    border-radius: 15px;
}

.rev_container h1 {
    text-align: center;
    margin-bottom: 15px;
}

.post_review {
    padding: 10px;
}

.post_review select {
    border-radius: 10px;
    margin-top: -3px;
    background: rgb(223, 4, 4);
    color: white;
    border: none;
}

.post_review textarea {
    width: 96%;
    height: 150px;
}

.post_review button {
    padding: 10px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(223, 4, 4);
    border-radius: 10px;
    color: white;
    border: none;
}

.box_2 {
    display: flex;
    justify-content: space-between;
}

.rev_container .reviews {
    max-height: 50%;
    overflow-y: scroll;
}

.rev_container .review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.rev_container .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.rev_container .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Report Modal Styles */
.rep_container {
    max-width: 400px;
    background-color: #fdfbfb;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 20px 0px #212121;
    border-radius: 15px;
}

.rep_container h1 {
    text-align: center;
}

.rep_container form {
    display: flex;
    flex-direction: column;
}

.rep_container label {
    margin-top: 10px;
    font-weight: bold;
}

.rep_container input[type="text"],
.rep_container select,
.rep_container textarea {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rep_container textarea {
    max-height: 200px;
    min-height: 200px;
    max-width: 94%;
    min-width: 94%;
}

.rep_container button {
    background-color: rgb(223, 4, 4);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
