@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.register-wrapper {
  --bc1 :linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
  --bc2 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --bc3 :linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --bc4 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  --bc5 :linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  --white :#fff;
  --hover1 : #ff7d7d;
  --hover2 : #FFDAB9;
  --hover3 : #FFDAB9;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--bc2);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

.register-wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.register-wrapper .container {
    width: 60%;
    margin: 3% auto;
    display: flex;
    height: 700px;
    box-shadow: -1px 0px 15px 11px #1d5c8c5c;
    border-radius: 6px;
    background: var(--bc1);
    position: relative;
}

.register-wrapper .login-link {
    background-color: var(--bc2);
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 30%;
    padding: 3%;
}

.register-wrapper .logo .text {
    font-weight: 600;
    color: #333;
    font-size: x-large;
    cursor: pointer;
}

.register-wrapper .logo .text:hover {
  color:#a19090 ;
  transition: all 0.3s ease;
}

.register-wrapper .side-big-heading {
    text-align: center;
    font-weight: 800;
    color: #333;
    font-size: 1.6rem;
    margin: 46% 0 5%;
}

.register-wrapper .primary-bg-text {
    margin-top: 10px;
    color: #555;
    font-weight: 500;
    text-align: center;
}

.register-wrapper .loginbtn {
    text-decoration: none;
    color: #fff;
    background-color: #d11f0c;
    width: 70%;
    font-weight: 500;
    display: inline-block;
    margin: 7% 15%;
    text-align: center;
    border-radius: 6px;
    padding: 3% 0;
}

.register-wrapper .loginbtn:hover {
    color: white;
    background-color: var(--hover2);
}

.register-wrapper .signup-form-container {
    width: 70%;
    padding: 6% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-wrapper .big-heading {
    font-weight: 900;
    font-size: 2rem;
    color: var(--white);
    text-align: left;
}

.register-wrapper .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    width: 70%;
}

.register-wrapper .progress-bar .stage {
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.register-wrapper .progress-bar .tool-tip {
    color: white;
    font-weight: 600;
}

.register-wrapper .stageno {
    margin: 6% 0;
    padding: 2% 7%;
    border-radius: 50%;
    background-color: #f5f5f9;
    color: #333;
}

.register-wrapper .stageno.active {
    background-color: var(--hover2);
    color: white;
}

.register-wrapper .button-container {
    display: flex;
    align-items: center;
    margin: 4% 0;
    width: 100%;
    justify-content: center;
}

.register-wrapper .text-fields {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2%;
    margin: 0 2%;
    width: 45%;
    border-radius: 4px;
    color: #84848d;
    background-color: white;
}

.register-wrapper input, .register-wrapper select {
    border: none;
    outline: none;
    background: inherit;
    color: #333;
    width: 100%;
    margin-left: 4%;
    font-size: 1rem;
}

.register-wrapper .pagination-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.register-wrapper .nextPage, .register-wrapper .previousPage {
    background-color: #d11f0c;
    color: #fff;
    width: 30%;
    cursor: pointer;
    padding: 2%;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 0 10px;
}

.register-wrapper .nextPage:hover, .register-wrapper .previousPage:hover {
    background-color: var(--hover2);
}

.register-wrapper .gender-selection {
    justify-content: space-around;
}

.register-wrapper .tc-container {
    color: white;
    margin: 20px 0;
    text-align: center;
}

.register-wrapper .tc-container a {
    color: var(--hover2);
}

.register-wrapper .signup-form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-wrapper .text-fields i {
    color: #333;
}
