* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #efefef;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 3%;
    box-shadow: 0px 1px 10px #999;
    transition: background-color 0.4s;
}
.nav_positive {
    background-color: rgb(185 255 232);
}
.nav_negative {
    background-color: rgb(255 203 203);
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav_left,
.nav_right {
    display: flex;
    align-items: center;
}

.nav_left ul li {
    list-style: none;
    display: inline-block;
    width: 28px;
    margin: 0 15px;
    list-style-position: inside;
    cursor: pointer;
}

.nav_left ul li i:hover {
    font-size: xx-large;
    /* color: rgb(74, 245, 171); */
    /* border-bottom: 2px solid rgb(81, 110, 216); */
}

.nav_left i {
    font-size: x-large;
    color: #1a1d86;
    transition: font-size 0.4s, border-bottom 0.4s;
}

.user_icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid rgb(74, 245, 171);
}

.user_icon {
    /* position: relative; */
    margin: 0px 0px 10px 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    padding: 0px;
}

.serach_box {
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.serach_box img {
    width: 20px;
}

.serach_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

/* advertise */
.advertise {
    display: flex;
    margin: 5px 2%;
    height: 50vh;
    background-color: #000000;
    /* background-image: url(-4-ans_frontend_assets.webp); */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: rgb(74, 245, 171);
}
.swiper .swiper-pagination-bullet-active {
    background-color: rgb(74, 245, 171);
}

.create_post {
    background-color: rgb(74, 245, 171);
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.create_post:hover {
    background-color: rgb(17, 249, 149);
}

/* ------profile popup----- */
.menu{
    position: absolute;
    top: 72px;
    right: 22px;
    padding: 10px 20px;
    background:#fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    border:2px solid black;
    font-family: Poppins;
    visibility: hidden;
    opacity:0;

}
.menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
    

}
 .menu::before{
    content:'';
    position:absolute;
    top: -13px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.menu ul{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    /* display: flex;  */
    align-items: center;
    justify-content: center;

}
 .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;


}
 .menu ul li:hover img{
     opacity: 1;

}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
 .menu ul li:hover a{
     color:#ff5d94;

}
 .menu h3 #nav_user_category{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;

    
}
.menu.active{
    visibility: visible;
    opacity: 1;
}
.menu li {
    margin-bottom: 3%;
}
.menu_user_icon img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid rgb(74, 245, 171);
    display: block;
    position: relative;
    left: 25%;
}