<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free to work.</title>
    <link rel="icon" href="/images/Screenshot 2023-07-22 194839.png" type="image/icon type">
</head>
<body>
    <h1>404</h1>
</body>
</html>